@import url('../fonts/BEYNO.ttf');
@import url('../fonts/Cantarell-Bold.ttf');
@import url('../fonts/Cantarell-BoldItalic.ttf');
@import url('../fonts/Cantarell-Italic.ttf');
@import url('../fonts/Cantarell-Regular.ttf');
@import url('../fonts/PantheraRegular-MVZ9J.ttf');
@import url('../fonts/WakandaForever-Regular.ttf');
@font-face {
    font-family: "BEYNO";
    src: url('../fonts/BEYNO.ttf');
}
@font-face {
    font-family: "Cantarell";
    src: url('../fonts/Cantarell-Regular.ttf');
}
@font-face {
    font-family: "PantheraRegular-MVZ9J";
    src: url('../fonts/PantheraRegular-MVZ9J.ttf');
}
@font-face {
    font-family: "WakandaForever";
    src: url('../fonts/WakandaForever-Regular.ttf');
}

body{
	background-image: url("../images/arrière_plan.png");
	color: white;
	margin: 0px;
}

/*Header */

header {
	  align-items: center;
	  overflow: auto;

}

.logo img {
	  height: 20px;
	  float: left;
	  margin-top: 30px;
	  margin-left: 125px;
}
header .navbar1 ul{
	float: right;
	margin-right: 150px;
	vertical-align: middle;
}

nav ul {
	  list-style-type: none;
	  margin-top: 20px;
	  padding: 0;
}

nav li {
	  display: inline-block;
	  margin-left: 20px;
	  margin-right: 20px;

}

nav li a {
	  text-decoration: none;
	  padding: 5px;
	  color: #FFFFFF;
	  font-family:"BEYNO";
	  font-size: 13px;
}

nav li a:hover {
	  color: #3D2DA6;
}

/* section-1 */

body .sect111 {
	
	
	background-image: url("../images/Pantherwakanda1.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -45px;
	margin-left: -90px;
	height: 800px;
	width: auto;

	
}

.sect111 .div1{
	
	height:550px ;
	padding: 200px;
	vertical-align: baseline;
}

.sect111 .div1 h1{
	margin-top: 35px;
	 font-family:"BEYNO";
	  font-size: 48px;
	  color: #9E91B7;
}

.sect111 .div1 .article1{
	 font-family:"Wakanda Forever";
	  font-size: 32px;
	  color: #9E91B7;
}

.sect111 .div1 .article2{
	margin-top: 25px;
	width: 310px;
	 font-family:"Cantarell";
	 text-align: justify;
	  font-size: 10px;
	  color: #ffffff;
}

/* section2 */

.sect2{
	margin-top: -85px;
	padding-top: 150px;
	margin-bottom: 80px;
	background-image: url("../images/Pantherwakanda2.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

.sect2 .titre1{
	font-family:"BEYNO";
	  font-size: 17px;
	  color: #9E91B7;
	  margin-top: 30px;
	  margin-bottom: 20px;
}

.sect2 article{
	font-family:"Cantarell";
	 text-align: justify;
	  font-size: 10px;
	  color: #ffffff;
}

.sect2 .col1{
	
	padding-right: 60px;
}

.sect2 .col2{
	
	padding-right: 30px;
}

.sect2 img{
	width: 540px;
}
.lien_video{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 60px;
	height: 250px;
	background-color: #3D2DA6;
	
}

.lien_video a{
	color: #ffffff;
	font-family:"Cantarell";
	letter-spacing: -2;
	margin-bottom: 25px;
}

/*footer*/
footer{
	background-image: url("../images/back_footer.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 50px;
	
}

footer .col11{
	text-align: right;
	padding-right: 150px;

	
}

footer .img11{
	width: 200px;
	margin-right: -110px;

	
}

footer .img22{
	width: 100px;
	margin-left: -50px;
	margin-top: -10px;
	
}

footer a{
	color: #ffffff;
}

footer h2{
	color: #ffffff;
	font-family:"Cantarell";
	letter-spacing: 6;
	font-size: 18px;
	margin-bottom: 35px;
	
}

footer p{
	font-family:"Cantarell";
	font-size: 12px;
	margin-top: -10px;
}

footer .col2 img{
	width: 32px;
	margin-right: 25px;
}

footer div .copyr{
	display: flex;
	margin-top: 50px;
}

footer div .copyr ul{
	display: flex;
	margin-top: -10px;
	margin-left: -12px;
	
}

footer div .copyr li{
	font-family:"Cantarell";
	font-size: 12px;
	margin-right: 25px;
}